.analytics-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.analytics-header {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ffffff0f;
    color: #d8e7e5;
    background: #161819;
    padding: 14px 20px;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.analytics-body {
    padding: 16px 32px 14px;
    display: flex;
    background: #111212;
    flex-direction: column;
    flex: 1;
}

.stats-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    padding: 10px 0px;
}

.stats-card {
    border: 1px solid #42282867;
    border-radius: 8px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 10px 16px 22px;
    gap: 10px;
}

.stats-card:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}

.stats-card-link {
    text-decoration: none;
}

.stat-value {
    display: flex;
    justify-content: space-between;
    color: #f0ece4;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    font-size: 25px;
    font-weight: 700;
}

.view-details {
    font-size: 11px;
    color: #e20d0d;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    text-decoration: underline;
    align-self: flex-end;
}

.stat-label {
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    text-transform: uppercase;
    color: #3ec9c0;
    font-size: 14px;
    font-weight: 600;
}

.analytics-graph {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #42282867;
    border-radius: 8px;
    background-color: #161819;
    padding: 14px 20px 20px;
}
.graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.graph-title {
    font-size: 16px;
    font-weight: 700;
    color: #f0ece4;
}
.days-counter {
    font-size: 14px;
    color: #3ec9c0;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    border: 1px solid #3ec9c0;
    padding: 4px 8px;
    border-radius: 12px;
}

.graph {
    flex: 1;
}

.empty-graph {
    flex: 1;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    color: #3ec9c0;
    background: #00000026;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: 1px dashed #ffffff1a;
    border-radius: 8px;
}

.reset-button {
    cursor: pointer;
    color: #e85454;
    background: #e8545414;
    border: 1px solid rgba(232, 84, 84, 0.14);
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    border-radius: 6px;
    padding: 8px 12px;
    margin-top: 10px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.06em;
    font-size: 11px;
}

.reset-button:hover {
    background: #e8545424;
}
