html,
body,
#root {
    height: 100%;
}

.usage-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.usage-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    background: #161819;
    border: 1px solid rgba(53, 32, 20, 0.925);
    padding: 20px;
}
.usage-details-title {
    color: rgb(0, 255, 221);
    font-size: 32px;
    width: 65%;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
}

.usage-details-summary {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.summary-item-header {
    color: #8b8d93;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
}

.number {
    font-size: 18px;
    font-weight: 700;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-wrapper {
    padding: 32px;
    background: #0e1012;
    flex: 1;
}

.summary-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.return-btn {
    padding: 10px;
    border-radius: 12px;
}
.return-btn:hover {
    cursor: pointer;
}
.usage-summary {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 10px 20px;
    gap: 10px;
    height: 15vh;
}

.usage-summary-box {
    font-size: 16px;
    font-weight: 700;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #f0ece4;
}

.usage-details-list {
    border: 1px solid black;
    border-radius: 16px;
    background: #161819;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.usage-table th,
.usage-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.usage-table th {
    color: #8b8d93;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
}

.usage-table td {
    color: #f0ece4;
    font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
    font-size: 20px;
}

.video-cell {
    display: flex;
    align-items: center;
    gap: 20px;
}

.video-thumbnail {
    height: 120px;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
}

.video-title-cell {
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
}
